.footer {
    background-color: #222224;
    display: flex;
    align-items: flex-end;

    &-copyrights {
        color: #fff;

        @media (max-width: $desktop-width) {
            margin-bottom: 10px;
        }
    }
    &-blocks {
        width: 100%;
        min-height: 79px;
        display: flex;
        flex-direction: row;
        
        @media (max-width: $desktop-width) {
            align-items: center;
            flex-direction: column-reverse;
        }

    }
    &-block {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $desktop-width) {
            justify-content: center;
            width: 100%;
            margin-top: 30px;
        }

    }
}



.socials__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    & li {
        display: inline-block;
        margin-left: 8px; 
    }

    @media (max-width: $desktop-width) {
        justify-content: center;
    }

}

.social__item {
    background-color: $color-white;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: 0.2s;

    & img {
        margin-top: 8px;
    }

    &:hover {
        background-color: $color-pink;
        border-radius: 2px;
    }
}
.social__item:hover .social__img {
    fill: $color-white;
}
.social__img {
    margin-top: 3px;
    width: 80%;
}